@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik+Bubbles&display=swap');


*{
    margin: 0px;
    font-family: 'Quicksand', sans-serif;

}

.name{
    padding: 30px;
    background-color:black ;
    color: hotpink;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    position:sticky;
    overflow: hidden;
    margin: -5;
}

.logo{
    overflow: hidden;
    width: 150px;
    top:50px;
    left: 35px;
    position: absolute;
    border-radius: 3px; 
}
.all{
    margin: 10px;
    padding: 40px;
    background-color: rgb(225, 81, 105);
    color: black;
    width: 24% ;
    border-radius: 10px;
    float: left;
}
.all  h4{
    text-align: center;
    margin: 20px;
    
}
.all img{
    width:90%;
    position:sticky;
    align-content: center;
    margin: 10px;
}
/* Links Ka Settings */
.links{
    overflow: hidden;
    position: sticky;
    background-color: hotpink;
    display: flex;
    justify-content: space-around;
    
}
.links a{
    font-size: 30px;
    margin: 15px;
    padding: 15px;
    float: left;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.links a:hover{
    background-color: white;
    color: black;
    border-radius: 30px;

}
#chota img{
    width: 95% !important;
    position: sticky !important;
    height: 35% !important;
}

.box a img{
    width: 50px;
    bottom: 500px;
    float: right;
}
footer a{
    overflow: hidden;
    float: left;
    margin: 70px;

}

footer a img{
    width: 100px;
    display: flex;
    justify-content: space-around;
}